language: python
python:
- '3.8'
cache: false
install:
- pip install -U flit
- pip install -U codecov
- pip install -U coverage
- pip install -U pytest
- pip install -U yaqd-fakes
- pip install -U bluesky
- pip install -U mypy
- pip install -U .
jobs:
  include:
  - stage: test
    name: pytest-nightly
    python: nightly
    script: &1
    - coverage run -m pytest
    - coverage report -m
    - codecov
  - stage: test
    name: pytest-3.8
    python: 3.8
    script: *1
  - stage: test
    name: pytest-3.7
    python: 3.7
    script: *1
  - stage: test
    name: pytest-bluesky-git
    script:
    - cd ..
    - git clone https://github.com/bluesky/bluesky.git
    - cd bluesky
    - pip install -U .
    - cd ../yaqc-bluesky
    - pytest
  - stage: test
    name: mypy
    script:
    - mypy yaqc_bluesky
deploy:
  provider: script
  script: flit publish
  on:
    tags: true
env:
  global:
  - secure: FFUGt2+ibOlA7BGF2f7PczB5VdWEpDSasAaZFS8xuwxoqe3uRAr1P/14acVDPm7efFgYvvtuLnj6CZYmCGg0SWDQPhiMJ6fMB7NKBNeVXANB6hmO7p/DdpM+Fm/yCoBNQR0tsrkVvlmNAAG7qtlAzkKfu9ulc9cWZVO8hTVnMqopY52LBRiZQV3k3cHRluKWHpMqjDLcvHnduL1+nD0cXTFhYyMhQCpqXOXjc/0wGCuK2cKYfXN3LN2Wkhc+TnKNhaqvD3PScoUPGDk/6myXKcd9advLLDXsxE0wF15O8CwPA11vnW6o1x3D9JKeiHE4y/s6JjCLH9GKfkULA89weYF8Xsw7vBnxThpJWp6M5dcvU3mJd4wNxr4SOnt8+Vn+k5boQvMgMNSV4YZDg7AEIxVZ2zwVliVEsvUHKSnDSEvQyBgQjJLKUJiMdljXtxs1BNtHNeZD3XMYK/BetPAc2xn/Riw/+bPGazM9Bj4erub5dHIMQKFrZu1bX+2gqMvc98VDf+3j40ir0v7AoocSopmv7DtaWmiKxP9jYhC5qXRQ9B0qe3SVLT/C8/qTYyMtDRUamRecJwVn6IjTwAwXcKqjTi3TOhutTNLFl0H6JlwR4y1auCwtIf+fjLV9UCyoOUWC9VmVX0deV6yUDdcIJZzbqLhS6LMk+LYF87f4wI4=
  - secure: jCXEGX4kQCdfH/W6Y9ftDl9I/tvlY617Xf0JDtwxBfFpL8+GbxNDl1jG+rWYNZ4HX4jdqbkiMUOYktW+Vka61VjUfhPTh7l8E+iWolYzfj37CKVUrVspJmsunUlxfUleihtU2+PxSbLiYG0W94krrFnf22LK3a+NffbzemK3/Pqc3gEMtYpOFAPUK6mX8AbkvjeG+R74QOQadT6p66a2CvPiq/xn9vf3qd+Cwg7OKm4zS/BIImAekxgzBDOWi2LDE0MYWGfSROUX4h3DLhHF05SM+bosAWpT+5hfWiO4a+X8w+QlpfW4KZ+y+JhnBNp/VQbrAMC8TtubGJijsJoNuYN5mIBkUmlyeMcv5CPeZ4sGSjkPOEQNf2AA+pUEj2YFtHL7KK9pCMLgEbRhh31xmEDfXC5qhhIiKA3YCoYPpXmDlgAt3lTHSqjVHdncQ+VKcAwdr8mys1/rC6dArHb+YnLOJFKogJ5+kZeTvLzOpWokMxf+S0d+UNjmc+kTTw2/AHUC0uavcTp1BXd4D8MUM6oZAO4v8kO+kLImFa6/o2j7fRRIRkEOGb6gsQ2NF0iEosRK8lAp0U0c2ZdcBAfl4Zs3yr7YMUqA13U/axfD37zP63HxA+y7SGH1PubJlrJnWCGS3ykPRyhVu3qjC5ZhuOHJ2qJpj7qRCchBHDRY1TA=
